  body {
    background: #121212;
    font-size: 0.875em;
    font-family: monospace;
    padding: 0;
    margin: 0;
    color: #e0e0e0;
  }

  .border {
    border: 3px double #444444;
  }

  .nav {
    font-size: 1.25em;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .test {
    display: inline-flex;
  }

  .wrapper {
    background: none;
    top: 0;
    margin: 0 auto;
    width: 870px;
    color: #e0e0e0;
  }

  .sidebar-left, .sidebar-right {
    width: 175px;
    padding-top: 10px;
  }

  .main {
    width: 500px;
    margin-left: 0px;
    padding: 10px;
  }

  .sidebar-left {
    margin-left: 0px;
  }

  .links a {
    color: #bbbbbb;
  }

  .linkclr a {
    color: #bbbbbb;
  }

  .small {
    color: #bbbbbb;
  }

  .box {
    border: 3px solid #444444;
    color: #e0e0e0;
    background: #333333;
    padding: 0px;
  }

  .header {
    border: 3px solid #444444;
    color: #e0e0e0;
    text-align: center;
    margin-top: 15px;
    top: 0;
    height: auto;
    background: #121212;
  }

  .links {
    text-align: center;
    margin-top: 1em;
  }

  .link {
    margin: 0px 25px;
  }

  .title {
    display: none;
  }

  .footer {
    height: 0;
  }

  .box h1, .box h2, .box h3 {
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #444444;
    color: #e0e0e0;
  }

  .inner {
    padding: 0.25em 1em 0.3em 1em;
    font-size: 1.075em;
  }

  .linkclr {
    padding: 0;
  }

  @media(max-width:880px) {
    .wrapper {
      width: calc(340px + 50vw);
    }
    .sidebar-left, .sidebar-right {
      width: 160px;
    }
    .main {
      width: 50vw;
      margin-left: 170px;
      padding: 0px;
    }
    .test {
      display: block;
    }
    .link {
      display: inline-flex;
    }
  }

  @media(orientation:portrait) {
    .wrapper {
      width: 96vw;
      margin: 0 auto;
      padding: 0;
      position: relative;
    }
    .test {
      display: block;
    }
    .wrapper-2 {
      width: 94vw;
      margin: 0 auto;
      padding: 0;
      position: relative;
    }
    .link {
      display: inline-flex;
    }
    .sidebar-left, .main, .sidebar-right {
      position: relative;
      width: 92vw;
      margin: 0.25rem 1vw;
    }
    .main {
      padding: 0px;
    }
  }
